body {
    background-color: #222;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 20px;
}
table ol, ul {
    margin: 0 !important;
    padding: 0;
    list-style: none;
}
table li:before {
    content: "- ";
}
table li {
    margin: 0;
    padding: 0;
}
.header {
    margin: 50px auto 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
    color: #fff;
}
.logo {
    width: 100px;
    margin-bottom: 10px;
}
.header h1 {
    margin-bottom: 10px;
    font-size: 26px;
}
.header h2 {
    font-variant: normal;
    font-size: 18px;
    letter-spacing: normal;
}
.container {
    margin: auto;
    padding: 0;
    background-color: #fff;
}
.navbar-inverse {
    background-color: #204d74;
}
.inner {
    padding: 15px;
}
.dropdown-menu>li>a {
    padding: 10px 20px;
}
.welcome {
    background-color: #333;
    color: #fff;
}
.welcome .logo {
    display: block;
    margin-bottom: 5px;
    max-width: 150px;
    animation: logo 2s ease;
    animation-delay: 0;
}
.welcome .brand {
    margin: 0;
    display: block;
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: bold;
    text-decoration: none;
}
.form-horizontal .control-label {
    text-align: left;
}
.produk .gambar {
    height: 150px;
    margin-bottom: 10px;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
.produk .total {
    background-color: #eee;
    font-weight: bold;
}
.table img {
    max-width: 200px;
}
