body {
    background-color: #ddd;
    background-image: url("../img/bg.jpg");
    font-family: "Segoe UI";
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 20px;
}
.container {
    margin: 20px auto;
    width: 960px;
    background-color: #fff;
    box-shadow: 0 2px 2px #111;
}
.head {
    background-color: transparent;
    box-shadow: none;
}
.header {
    padding: 20px 0 0;
    font-weight: bold;
    letter-spacing: -1px;
    color: #fff;
}
.logo {
    width: 100px;
}
.header h1 {
    margin-bottom: 0;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 2px 2px #111;
}
.header h2 {
    font-variant: normal;
    font-size: 18px;
    letter-spacing: normal;
}
.dropdown-menu>li>a {
    padding: 10px 20px;
}
.form-horizontal .control-label {
    text-align: left;
}
.navbar {
    margin: 0;
}
.navbar-inverse {
    background-color: #204d74;
}
.carousel {
    background-color: #222;
}
.main-content {
    padding: 15px 30px;
}
.sidebar {
    padding: 15px;
    border-right: 1px solid #eee;
    background-image: url("../img/swirl_pattern.png");
}
.sidebar-box {
    margin-bottom: 45px;
}
.sidebar-box h4 {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ac2925;
    border-left: 10px solid #204d74;
    color: #fff;
}
.jumbotron {
    background-image: url("../img/batik.jpg");
    color: #fff;
}
.jumbotron h1 {
    font-size: 30px;
}
.jumbotron h3 {
    font-size: 20px;
}
.produk .produk-box {
    padding: 15px;
    transition: all .2s;
}
.produk .produk-box:hover {
    background-color: #eee;
}
.produk .gambar {
    margin-bottom: 10px;
}
.produk h3 {
    margin: 0;
    font-size: 14px;
}
.produk p {
    font-size: 12px;
}
.produk input[name=jumlah], .produk select {
    margin: 0;
    width: 40%;
    display: inline-block;
}
.produk-detail h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.produk-detail .harga {
    display: inline-block;
    background-color: #1a60a5;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.table img {
    max-width: 200px;
}
.produk .total {
    background-color: #eee;
    font-weight: bold;
}
.footer {
    padding: 15px 0;
    border-top: 1px solid #eee;
}
